@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #header-index nav div div {
    width: auto;
  }
  #header-index nav div div ul {
    width: 100%;
  }
  #encabezado-inicio {
    height: 20em;
  }
  video {
    height: 50%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #header-index nav div div {
    width: auto;
  }
  #header-index nav div div ul {
    width: 75%;
  }
  #encabezado-inicio {
    height: 24em;
  }
  video {
    height: 75%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #header-index nav div div {
    width: 50%;
  }
  #header-index nav div div ul {
    width: 50%;
  }
  #encabezado-inicio {
    height: 24em;
  }
  video {
    height: 60%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #header-index nav div div {
    width: 50%;
  }
  #header-index nav div div ul {
    width: 50%;
  }
  #encabezado-inicio {
    height: 25em;
  }
  video {
    height: 75%;
  }
}
/*
header {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 1%;
}
*/
#header-index {
  width: 100%;
}
#header-index nav {
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-index nav div #logo a {
  display: flex;
  align-items: center;
}
#header-index nav div #logo a img, #header-index nav div #logo a h1 {
  padding: 5px;
}
#header-index nav div .custom-toggler.navbar-toggler {
  border: 2px solid white;
}
#header-index nav div .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#header-index nav div div ul li {
  padding: 2%;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-index nav div div ul .custom-active {
  border-radius: 10px;
  background-color: black;
  height: 2em;
}
#header-index nav div div ul .nav-item:hover {
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  height: 2em;
}
#header-index nav div div .custom-navbar-nav.navbar-nav {
  display: flex;
  flex-direction: row;
}
#header-index #encabezado-inicio {
  padding: 20% 10% 20% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #header-index nav div div {
    width: auto;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #header-index nav div div {
    width: 50%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #header-index nav div div {
    width: 50%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #header-index nav div div {
    width: 50%;
  }
}
#header-pages {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#header-pages nav {
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header-pages nav div #logo a {
  display: flex;
  align-items: center;
}
#header-pages nav div #logo a img, #header-pages nav div #logo a h1 {
  padding: 5px;
}
#header-pages nav div .custom-toggler.navbar-toggler {
  border: 2px solid white;
}
#header-pages nav div .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#header-pages nav div div ul li {
  padding: 2%;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header-pages nav div div ul .custom-active-pages {
  background-color: rgb(54, 54, 54);
  height: 100%;
}
#header-pages nav div div ul .nav-item:hover {
  background-color: rgb(37, 37, 37);
  height: 100%;
}
#header-pages nav div div .custom-navbar-nav.navbar-nav {
  display: flex;
  flex-direction: row;
}
#header-pages #encabezado-inicio {
  padding: 20% 10% 20% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #intro h2 {
    width: 90%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #intro h2 {
    width: 90%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #intro h2 {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #intro h2 {
    width: 60%;
  }
}
#intro {
  background-color: white;
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: center;
}

#servicios {
  background-color: grey;
  text-align: center;
  padding: 20px;
}
#servicios #servicios-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#servicios #servicios-contenedor .card-servicios {
  width: 400px;
  margin: 10px;
  padding: 10px;
}
#servicios #servicios-contenedor .card-servicios img {
  width: 100%;
  padding: 10px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
#servicios #servicios-contenedor .card-servicios h3 {
  width: 100%;
  padding: 10px;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #serv1, #serv2, #serv3, #serv4 {
    flex-direction: column;
    align-items: center;
  }
  #serv1 img, #serv2 img, #serv3 img, #serv4 img {
    width: 100%;
  }
  #serv1 #serv1-card-text, #serv2 #serv1-card-text, #serv3 #serv1-card-text, #serv4 #serv1-card-text {
    width: 100%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #serv1, #serv2, #serv3, #serv4 {
    flex-direction: column;
    align-items: center;
  }
  #serv1 img, #serv2 img, #serv3 img, #serv4 img {
    width: 85%;
  }
  #serv1 #serv1-card-text, #serv2 #serv1-card-text, #serv3 #serv1-card-text, #serv4 #serv1-card-text {
    width: 85%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #serv1, #serv3 {
    flex-direction: row;
  }
  #serv1 img, #serv3 img {
    width: 50%;
  }
  #serv1 #serv1-card-text, #serv3 #serv1-card-text {
    width: 50%;
  }
  #serv2, #serv4 {
    flex-direction: row-reverse;
  }
  #serv2 img, #serv4 img {
    width: 50%;
  }
  #serv2 #serv1-card-text, #serv4 #serv1-card-text {
    width: 50%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #serv1, #serv3 {
    flex-direction: row;
  }
  #serv1 img, #serv3 img {
    width: 50%;
  }
  #serv1 #serv1-card-text, #serv3 #serv1-card-text {
    width: 50%;
  }
  #serv2, #serv4 {
    flex-direction: row-reverse;
  }
  #serv2 img, #serv4 img {
    width: 50%;
  }
  #serv2 #serv1-card-text, #serv4 #serv1-card-text {
    width: 50%;
  }
}
#services {
  background-color: grey;
  text-align: justify;
  padding: 1%;
}
#services #services-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 7%;
}
#services #services-contenedor #serv1, #services #services-contenedor #serv3 {
  display: flex;
  width: 100%;
  margin: 5px;
  padding: 5px;
}
#services #services-contenedor #serv1 img, #services #services-contenedor #serv3 img {
  padding: 10px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  object-fit: cover;
}
#services #services-contenedor #serv1 #serv1-card-text, #services #services-contenedor #serv3 #serv1-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services #services-contenedor #serv1 #serv1-card-text h3, #services #services-contenedor #serv1 #serv1-card-text p, #services #services-contenedor #serv3 #serv1-card-text h3, #services #services-contenedor #serv3 #serv1-card-text p {
  padding: 10px;
}
#services #services-contenedor #serv2, #services #services-contenedor #serv4 {
  display: flex;
  width: 100%;
  margin: 5px;
  padding: 5px;
}
#services #services-contenedor #serv2 img, #services #services-contenedor #serv4 img {
  padding: 10px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  object-fit: cover;
}
#services #services-contenedor #serv2 #serv1-card-text, #services #services-contenedor #serv4 #serv1-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#services #services-contenedor #serv2 #serv1-card-text h3, #services #services-contenedor #serv2 #serv1-card-text p, #services #services-contenedor #serv4 #serv1-card-text h3, #services #services-contenedor #serv4 #serv1-card-text p {
  padding: 10px;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#nosotros {
  text-align: center;
  padding: 20px;
}
#nosotros #nosotros-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nosotros #nosotros-contenedor div {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
#nosotros #nosotros-contenedor h3 {
  width: 100%;
  padding: 10px;
}

#equipo {
  background-color: grey;
  text-align: center;
  padding: 20px;
}
#equipo h2 {
  width: 100%;
  padding: 10px;
}
#equipo #equipo-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#equipo #equipo-contenedor div {
  width: 400px;
  margin: 10px;
  padding: 10px;
}
#equipo #equipo-contenedor div img {
  width: 100%;
  padding: 10px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
#equipo #equipo-contenedor div h3 {
  width: 100%;
  padding: 10px;
}

#music {
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
}
#music h2 {
  width: 100%;
  padding: 10px;
}
#music #music-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#music #music-contenedor div {
  width: 400px;
  margin: 10px;
  padding: 10px;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#blog {
  background-color: grey;
  text-align: center;
  padding: 1% 5% 1% 5%;
}
#blog .custom-card {
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
#blog .custom-card img {
  padding: 5px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #contact #contact-just {
    width: 100%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #contact #contact-just {
    width: 90%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #contact #contact-just {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #contact #contact-just {
    width: 75%;
  }
}
#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact #contact-just {
  display: flex;
  flex-direction: column;
}
#contact #contact-just #contact-contenedor1 {
  padding: 20px;
}
#contact #contact-just #contact-contenedor1 h2 {
  width: 100%;
  padding: 10px;
}
#contact #contact-just #contact-contenedor1 form #contact-form-div {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#contact #contact-just #contact-contenedor1 form #contact-form-div input, #contact #contact-just #contact-contenedor1 form #contact-form-div textarea {
  background-color: lightgrey;
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contact #contact-just #contact-contenedor1 form #contact-form-tyc {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact #contact-just #contact-contenedor1 form #contact-form-tyc div {
  padding: 10px;
  display: flex;
}
#contact #contact-just #contact-contenedor1 form .custom-form-check-input.form-check-input {
  border-color: black;
}
#contact #contact-just #contact-contenedor1 form .custom-form-check-input.form-check-input:checked {
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contact #contact-just #contact-contenedor1 form .custom-form-check-input.form-check-input:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contact #contact-just #contact-contenedor1 form #contact-form-boton {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#contact #contact-just #contact-contenedor1 form #contact-form-boton button {
  background-color: lightgrey;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
#contact #contact-just #contact-contenedor1 form #contact-form-boton button:hover {
  background-color: rgba(155, 155, 155, 0.753);
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
#contact #contact-just #contact-contenedor1 .custom-form-control.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contact #contact-just #contact-contenedor2 {
  padding: 20px;
}
#contact #contact-just #contact-contenedor2 iframe {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Media Querys */
@media only screen and (max-device-width: 500px) {
  #contacto-contenedor {
    width: 95%;
  }
}
@media only screen and (min-device-width: 501px) and (max-device-width: 960px) {
  #contacto-contenedor {
    width: 90%;
  }
}
@media only screen and (min-device-width: 961px) and (max-device-width: 1370px) {
  #contacto-contenedor {
    width: 60%;
  }
}
@media only screen and (min-device-width: 1371px) {
  #contacto-contenedor {
    width: 60%;
  }
}
#contacto {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
#contacto #contacto-contenedor {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#contacto #contacto-contenedor h2 {
  width: 100%;
  padding: 10px;
}
#contacto #contacto-contenedor form #contacto-form-div {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#contacto #contacto-contenedor form #contacto-form-div label {
  text-align: left;
  padding-bottom: 5px;
  font-weight: bold;
}
#contacto #contacto-contenedor form #contacto-form-div input, #contacto #contacto-contenedor form #contacto-form-div textarea {
  background-color: lightgrey;
  padding: 10px 10px 10px 15px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#contacto #contacto-contenedor form .custom-form-control.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contacto #contacto-contenedor form #contacto-form-tyc {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contacto #contacto-contenedor form #contacto-form-tyc div {
  padding: 10px;
  display: flex;
}
#contacto #contacto-contenedor form #contacto-form-tyc .custom-form-check-input.form-check-input {
  border-color: black;
}
#contacto #contacto-contenedor form #contacto-form-tyc .custom-form-check-input.form-check-input:checked {
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contacto #contacto-contenedor form #contacto-form-tyc .custom-form-check-input.form-check-input:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(155, 155, 155, 0.753);
}
#contacto #contacto-contenedor form #contacto-form-boton {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
#contacto #contacto-contenedor form #contacto-form-boton button {
  background-color: lightgrey;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
#contacto #contacto-contenedor form #contacto-form-boton button:hover {
  background-color: rgba(155, 155, 155, 0.753);
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

/* Fonts */
@font-face {
  font-family: "font-guul"; /*se nombra la fuenta a utilizar*/
  src: url("../guul-fuente-diebel/diebel.ttf");
}
h1, h2 {
  font-family: "font-guul";
}

h3, p, a, label {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}
footer #footer-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .socialbutton {
  padding: 10px 5px 30px 5px;
  margin: 5px;
  text-align: center;
  outline: none;
  text-decoration: none !important;
  color: black;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  background-color: lightgray;
  margin-left: 5px;
  margin-right: 5px;
}
footer .socialbutton:hover {
  background-color: rgba(211, 211, 211, 0.9);
  padding: 10px 5px 30px 5px;
  margin: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: black;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
footer .sb-in.socialbutton:hover {
  background-color: rgba(9, 103, 197, 0.9);
  padding: 10px 5px 30px 5px;
  margin: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
footer .sb-fb.socialbutton:hover {
  background-color: rgba(8, 102, 255, 0.9);
  padding: 10px 5px 30px 5px;
  margin: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
footer .sb-ig.socialbutton:hover {
  background-color: rgba(255, 0, 91, 0.9);
  padding: 10px 5px 30px 5px;
  margin: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 32px;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

/*# sourceMappingURL=styles.css.map */
