
// Import utilities

@import "../utilities/fonts";
@import "../utilities/variables";
@import "../utilities/styles-guul";


/* Media Querys */

@media only screen and (max-device-width: 500px){
    #serv1, #serv2, #serv3, #serv4 {
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }

        #serv1-card-text {
            width: 100%;
        }
    }

}

@media only screen and (min-device-width: 501px) and (max-device-width: 960px){
    #serv1, #serv2, #serv3, #serv4 {
        flex-direction: column;
        align-items: center;

        img {
            width: 85%;
        }

        #serv1-card-text {
            width: 85%;
        }
    }

}

@media only screen and (min-device-width: 961px) and (max-device-width: 1370px){
    #serv1, #serv3 {
        flex-direction: row;

        img {
            width: 50%;
        }

        #serv1-card-text {
            width: 50%;
        }
   }

    #serv2, #serv4 {
        flex-direction: row-reverse;

        img {
            width: 50%;
        }

        #serv1-card-text {
            width: 50%;
        }
    }

}

@media only screen and (min-device-width: 1371px){
    #serv1, #serv3 {
        flex-direction: row;

        img {
            width: 50%;
        }

        #serv1-card-text {
            width: 50%;
        }
    }

    #serv2, #serv4 {
        flex-direction: row-reverse;

        img {
            width: 50%;
        }

        #serv1-card-text {
            width: 50%;
        }
    }

}



#services {
    background-color: grey;
    text-align: justify ;
    padding: 1%;

    #services-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 7%;

        #serv1, #serv3 {
            display: flex;
            width: 100%;
            margin: 5px;
            padding: 5px;

            img {
                padding: 10px;
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
                object-fit: cover;
            }

            #serv1-card-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3, p {
                    padding: 10px;
    
                }    
            }
        }
        #serv2, #serv4 {
            display: flex;
            width: 100%;
            margin: 5px;
            padding: 5px;

            img {
                padding: 10px;
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
                object-fit: cover;
            }

            #serv1-card-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3, p {
                    padding: 10px;
    
                }    
            }
        }
    }
}
