// Import utilities

@import "../utilities/fonts";
@import "../utilities/variables";
@import "../utilities/styles-guul";

#intro {
    background-color: white;
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;

    h2 {
    width: 50%;
    }
}

#servicios {
    background-color: grey;
    text-align: center;
    padding: 20px;

    #servicios-contenedor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .card-servicios {
            width: 400px;
            margin: 10px;
            padding: 10px;

            img {
                width: 100%;
                padding: 10px;
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
            }

            h3 {
                width: 100%;
                padding: 10px;
            }
        }
    }
}