
// Import utilities

@import "../utilities/fonts";
@import "../utilities/variables";
@import "../utilities/styles-guul";

#blog {
    background-color: grey;
    text-align: center;
    padding: 1% 10% 1% 10%;

}
