
// Import utilities

@import "../utilities/fonts";
@import "../utilities/variables";
@import "../utilities/styles-guul";

#nosotros {
    text-align: center;
    padding: 20px;

    #nosotros-contenedor {
        display: flex;
        align-items: center;
        justify-content: space-around;

        div {
            width: 50%;
            margin: 10px;
            padding: 10px;
        }

        h3 {
            width: 100%;
            padding: 10px;
        }
    }
}

#equipo {
    background-color: grey;
    text-align: center;
    padding: 20px;

    h2 {
        width: 100%;
        padding: 10px;
    }

    #equipo-contenedor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        div {
            width: 400px;
            margin: 10px;
            padding: 10px;

            img {
                width: 100%;
                padding: 10px;
                border-top-left-radius: 80px;
                border-bottom-right-radius: 80px;
            }

            h3 {
                width: 100%;
                padding: 10px;
            }
        }
    }
}

#music {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;

    h2 {
        width: 100%;
        padding: 10px;
    }

    #music-contenedor {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        div {
            width: 400px;
            margin: 10px;
            padding: 10px;
        }
    }
    
}

