

// Import utilities

@import "../utilities/fonts";
@import "../utilities/variables";
@import "../utilities/styles-guul";

/* Media Querys */

@media only screen and (max-device-width: 500px){
    #contacto-contenedor{
        width: 95%;
    }
}

@media only screen and (min-device-width: 501px) and (max-device-width: 960px){
    #contacto-contenedor{
        width: 90%;
    }
 
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1370px){
    #contacto-contenedor{
        width: 60%;
    }
}

@media only screen and (min-device-width: 1371px){
    #contacto-contenedor{
        width: 60%;
    }
}

#contacto {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;

    #contacto-contenedor {
        padding: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            width: 100%;
            padding: 10px;
        }
        
        form {
            #contacto-form-div {
                margin: 5px;
                padding: 5px;
                display: flex;
                flex-direction: column;

                label {
                    text-align: left;
                    padding-bottom: 5px;
                    font-weight: bold;
                }

                input, textarea {
                    background-color: lightgrey;
                    padding: 10px 10px 10px 15px;
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .custom-form-control.form-control:focus {
                border-color: black;
                box-shadow: $form-box-shadow;
            } 

            #contacto-form-tyc {
                margin: 10px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    padding: 10px;
                    display: flex;
                } 

                .custom-form-check-input.form-check-input {
                    border-color: black;
                }

                .custom-form-check-input.form-check-input:checked {
                    background-color: black;
                    border-color: black;
                    box-shadow: $form-box-shadow;
                }
                
                .custom-form-check-input.form-check-input:focus {
                    border-color: black;
                    box-shadow: $form-box-shadow;
                }
            }

            #contacto-form-boton {
                margin: 5px;
                padding: 5px;
                display: flex;
                flex-direction: column;

                button {
                    background-color: lightgrey;
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1em;
                }

                button:hover {
                    background-color: $gray-transparent;
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1em;
                }   
            }
        }
    }
}
